.jumbotron{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8),rgba(255, 252, 181, 0.8)), url(../img/jumbotronbg.jpg);
  box-shadow: 0 0.5rem 1rem rgba(50,50,50,0.3);
}
