.jumbotron{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8),rgba(255, 252, 181, 0.8)), url(../img/jumbotronbg.jpg);
  box-shadow: 0 0.5rem 1rem rgba(50,50,50,0.3);
}

body{
  background-color: #612c2a;
  background-image: url(../img/fullbg.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
}

.indexrow{
  margin-bottom: 1rem;
}

.btn-danger{
  border-radius: 0.7rem;
}

#list-item-id{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#base-navbar{
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.shine {
  background-position: center;
  transition: background 0.8s;
}
.shine:hover {
  background: #ff706b radial-gradient(circle, transparent 0.5%, #ff706b 1%) center/15000%;
  color: white;
}

.shine:hover > .by-who, .shine:hover > .short-body, .shine:hover .post-time{
  color: white;
}

.shine:hover .span-upvotes, .shine:hover .span-downvotes{
  color: white;
}

.short-body{
  margin-left: 1rem;
  font-size: .80rem;
  color: grey;
}

.by-who{
  color: #dd4f4f;
}

.post-time{
  font-size: 0.80rem;
  color:grey;
}

.details-card{
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}

.thumbs-group{
  margin-right: 0.5rem;
}

.span-upvotes{
  color: green;
}

.span-downvotes{
  color: #f44e42;
}

#think{
  margin-top: -0.5rem;
  height: 2rem;
}


.complaint-card-header{
  color: white;
}

.detailsthumbs{
  font-size: 1.2rem;
}

.bottomrow{
  margin-top: 2.25rem;
}

#thumbup{
  cursor: pointer;
}

#thumbup:hover{
  color: green;
  animation: hoverthumb 0.35s;
  font-size: 1.5rem;
}

#thumbdown{
  cursor: pointer;
}

#thumbdown:hover{
  color: red;
  animation: hoverthumb 0.35s;
  font-size: 1.5rem;
}

#title_minicomplaints{
  color: white;
  text-shadow: 0 1rem 2rem rgba(0,0,0,1);
}

textarea{
   resize: none;
 }

 .inpt-grpt{
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
 }


.form-control:focus {
  border-color: #fc4a44 !important;
  box-shadow: 0 0 5px rgba(252, 74, 68, 1) !important;
}


@keyframes hoverthumb {
  0% {
    font-size: 1.2rem;
  }

  100%{
    font-size: 1.5rem;
  }
}
