.jumbotron{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8),rgba(255, 252, 181, 0.8)), url(../img/jumbotronbg.jpg);
  box-shadow: 0 0.5rem 1rem rgba(50,50,50,0.3);
}

body{
  background-color: #612c2a;
  background-image: url(../img/fullbg.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
}

.indexrow{
  margin-bottom: 1rem;
}

#list-item-id{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#base-navbar{
  box-shadow: 0 1rem 2rem rgba(50,50,50,0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ff706b radial-gradient(circle, transparent 0.5%, #ff706b 1%) center/15000%;
  color: white;
}

.ripple:hover > .by-who, .ripple:hover > .short-body, .ripple:hover .post-time{
  color: white;
}

.ripple:hover .span-upvotes, .ripple:hover .span-downvotes{
  color: white;
}

.ripple:active {
  background-color: #f43f38;
  background-size: 100%;
  transition: background 0s;
}

.short-body{
  margin-left: 1rem;
  font-size: .80rem;
  color: grey;
}

.by-who{
  color: #dd4f4f;
}

.post-time{
  font-size: 0.80rem;
  color:grey;
}

.thumbs-group{
  margin-right: 0.5rem;
}

.span-upvotes{
  color: green;
}

.span-downvotes{
  color: #f44e42;
}
