<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Sci Papers</title>
  </head>
  <body>
    <nav>
   <div class="nav-wrapper">
     <a href={% url 'sci_papers:index' %} class="brand-logo">&nbsp;Sci Papers</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/papers/cat01/">Ciencias Computacionales</a></li>
       <li><a href="/papers/cat02/">Ciencias de la Tierra</a></li>
       <li><a href="/papers/cat03/">Ciencias Naturales</a></li>
       <li><a href="/papers/cat04/">Ciencias Sociales</a></li>
       <li><a href="/papers/cat05/">Ciencias Medicas</a></li>
     </ul>
   </div>
 </nav>
    <header class="container center-align">
      <h1 class="center-align red lighten-4" style="border-radius: 50px; padding: 10px;">Sci Papers</h1>
    </header>


    <div class="container">
      {% block content %}
      {% endblock %}
      <br><br>


    </div>
  </body>
</html>
.
