{% extends 'complain_o_citizen_2000/base.html' %}

{% block content %}

<div class="container-fluid" style="margin-top:6.5rem; margin-bottom:3.5rem;">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-danger details-card">
        <div class="card-header complaint-card-header">
            <span style="font-size: 2.5rem; font-weight: bold;">{{ complaint.title.capitalize }}</span>
          <div class="float-right"> <i>{{complaint.by_username}} </i>- {{complaint.date}}</div>
        </div>
        <div class="card-body bg-light">
            <p>{{complaint.body}}</p>
            <div class="bottomrow">
              <div class="float-left detailsthumbs">
                <i id="thumbup" class="far fa-thumbs-up " ></i><span class="span-upvotes"> {{complaint.upvotes}}</span>
                <i id="thumbdown" class="far fa-thumbs-down" style="margin-left: 0.3rem;"></i><span class="span-downvotes"> {{complaint.downvotes}}</span>
              </div>
              <div class="float-right">
                <footer><button id="btn_minicomplain" class="btn btn-danger" type="button" name="button">Complain about this!</button></footer>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container-fluid">
    <h3 id="title_minicomplaints"><b>MiniComplaints</b></h3>
    {% for minicomplaint in minicomplaints %}
    <div class="row" style="margin-bottom:2.5rem;">
      <div class="col-sm-12">
        <div class="card ">
          <div class="card-body">
              <p>{{minicomplaint.body}}</p>
              <div class="float-right">
                <i>{{minicomplaint.by_username}} </i>- {{minicomplaint.date}}
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container-fluid" style="margin-bottom: 2.5rem;">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5>Complain about this complaint:</h5>
              <div class="input-group inpt-grpt" style="height:7rem;">
                <textarea id="minicomplaint_textarea" class="form-control" aria-label="With textarea"></textarea>
                <div class="input-group-append">
                  <button class="btn btn-outline-danger type="button" id="submit_minicomplaint_btn"><div class="far fa-tired""></div></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">

        $(document).on('click', '#btn_minicomplain', function(e){
          e.preventDefault();
          document.getElementById('minicomplaint_textarea').scrollIntoView({behaviour: 'smooth'});
        })

        $(document).on('click', '#submit_minicomplaint_btn', function(e){
          e.preventDefault();
          var minicomplaint = document.getElementById('minicomplaint_textarea').value

          if (minicomplaint_textarea=="") {
            console.log('waitaminute')
          }
          else{
            $.ajax({
              type: 'POST',
              url: '{% url 'submit_minicomplaint' %}',
              data:{
                body: $('#minicomplaint_textarea').val(),
                bigcomplaint_id: {{complaint.id}},
              },
              success: function(){
                document.location.reload(true);
              }
            })
          }
        });

        $(document).on('click', '#thumbup', function(e){
          e.preventDefault();

          $.ajax({
            type: 'POST',
            url: '{% url 'thumbup' %}',
            data:{
              bigcomplaint_id: {{complaint.id}}
            },
            success: function(){
              console.log('got here')
              document.location.reload(true);
            }
          })

        });

        $(document).on('click', '#thumbdown', function(e){
          e.preventDefault();

          $.ajax({
            type: 'POST',
            url: '{% url 'thumbdown' %}',
            data:{
              bigcomplaint_id: {{complaint.id}}
            },
            success: function(){
              console.log('got here')
              document.location.reload(true);
            }
          })

        });

      </script>



{% endblock %}
