{% extends 'complain_o_citizen_2000/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-center bg-default">
        <div class="container">
          <h1>Welcome to ComplainCity</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a id="begin_anchor" href class="btn btn-dark ">Comenzar &nbsp; <div class="fas fa-flag-checkered"></div></a>

        </div>
  </div> <br>

  <div class="container-fluid">

    <div class="row indexrow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.0 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Good Examples</h5>
            <p class="card-text">Help us try and find how to become better examples for each other as citizens.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=1 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <div class="row indexrow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.1 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Urbanism & Transport</h5>
            <p class="card-text">Stuck in traffic? Garbage truck late again? Feel that gentrification crawling closer? This is the place for you.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=2 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div> <br>
    <div class="row indexrow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.2 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Business</h5>
            <p class="card-text">If you feel like your local businessman is getting too many breaks or perhaps not enough, we welcome you to give us your most passionate complaint.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=3 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div> <br>
    <div class="row indexrow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.3 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Social Matters</h5>
            <p class="card-text">Let loose, the sky is the limit. Let us know what you think of the most trivial thing you can find out there in the internet.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=4 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div> <br>
    <div class="row indexrow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.4 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Government</h5>
            <p class="card-text">We appreciate you.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=5 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row indexrow" style="margin-bottom:5rem;">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Total Complaints: <label class="complaint-counter">{{ all_counts.5 }}</label>
          </div>
          <div class="card-body">
            <h5 class="card-title">Social Communities and Lost Items</h5>
            <p class="card-text">Come here and have a chat about services done to the community and also I guess ask about lost stuff.</p>
            <div class="float-right">
              <a href="{% url 'type_complaint' id=6 %}" class="btn btn-danger">Get complaining! <div class="fas fa-bullhorn"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>








{% endblock %}
