{% extends 'complain_o_citizen_2000/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-center bg-default">
        <div class="container">
          <h1>Welcome to ComplainCity</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a id="begin_anchor" href class="btn btn-dark ">Comenzar &nbsp; <div class="fas fa-flag-checkered"></div></a>

        </div>
  </div> <br>

  <div class="container-fluid" style="margin-bottom: 5rem;">
    <div class="card">
      <div class="card-body">
        <div class="list-group">
          {% for complaint in complaints %}
            <a href="#" id="list-item-id" class="list-group-item list-group-item-action ripple">
               <label class="thumbs-group"><i class="far fa-thumbs-up" ></i><span class="span-upvotes"> {{complaint.upvotes}}</span>
                <i class="far fa-thumbs-down" style="margin-left: 0.3rem;"></i><span class="span-downvotes"> {{complaint.downvotes}}</span></label>  {{complaint.title.capitalize}}<label class="short-body">&mdash; {{complaint.body}}</label>
                <div class="float-right by-who" > <i> {{complaint.by_username}} </i> <label class="post-time">- {{complaint.date}}</label> </div>
             </a>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>


{% endblock %}
