<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Soft Info</title>
  </head>
  <body>
    <ul id="dropdown1" class="dropdown-content">

      {% for dept in depts %}
        <li class="collection-item"><a class="collection-item" href="/softwarebydept/{{dept.name}}">{{dept.name}}</a></li>
      {% endfor %}
    </ul>
    <nav>
     <div class="nav-wrapper light-blue lighten-1">
       <a href={% url 'soft_track:index' %} class="brand-logo">&nbsp;Soft Info</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Software by Department<i class="material-icons right">arrow_drop_down</i></a></li>
       </ul>
     </div>
   </nav>
    <header class="container center-align">
      <h1 class="center-align light-blue lighten-4" style="border-radius: 50px; padding: 10px;">Soft Info</h1>
    </header>


    <div class="container">
      {% block content %}
      {% endblock %}
      <br><br>


    </div>
  </body>
  <script type="text/javascript">
    $(".dropdown-trigger").dropdown();
  </script>
</html>
